body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:826px;
}
#u984 {
  position:absolute;
  left:100px;
  top:100px;
  width:420px;
  height:826px;
}
#u985 {
  position:absolute;
  left:2px;
  top:405px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u986 {
  position:absolute;
  left:120px;
  top:167px;
  width:375px;
  height:667px;
}
#u987 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u988 {
  position:absolute;
  left:153px;
  top:370px;
  width:300px;
  height:75px;
}
#u989 {
  position:absolute;
  left:2px;
  top:30px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  position:absolute;
  left:153px;
  top:370px;
  width:75px;
  height:300px;
}
#u991 {
  position:absolute;
  left:2px;
  top:142px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u992 {
  position:absolute;
  left:153px;
  top:595px;
  width:300px;
  height:75px;
}
#u993 {
  position:absolute;
  left:2px;
  top:30px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u994 {
  position:absolute;
  left:378px;
  top:370px;
  width:75px;
  height:300px;
}
#u995 {
  position:absolute;
  left:2px;
  top:142px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:2px;
}
#u996 {
  position:absolute;
  left:378px;
  top:444px;
  width:75px;
  height:1px;
}
#u997 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:2px;
}
#u998 {
  position:absolute;
  left:378px;
  top:595px;
  width:75px;
  height:1px;
}
#u999 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:2px;
}
#u1000 {
  position:absolute;
  left:153px;
  top:444px;
  width:75px;
  height:1px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:76px;
}
#u1002 {
  position:absolute;
  left:227px;
  top:595px;
  width:1px;
  height:75px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:2px;
}
#u1004 {
  position:absolute;
  left:378px;
  top:520px;
  width:75px;
  height:1px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:2px;
}
#u1006 {
  position:absolute;
  left:153px;
  top:520px;
  width:75px;
  height:1px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:76px;
}
#u1008 {
  position:absolute;
  left:303px;
  top:595px;
  width:1px;
  height:75px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:76px;
}
#u1010 {
  position:absolute;
  left:303px;
  top:370px;
  width:1px;
  height:75px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1012 {
  position:absolute;
  left:401px;
  top:474px;
  width:29px;
  height:20px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  position:absolute;
  left:401px;
  top:550px;
  width:29px;
  height:20px;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:401px;
  top:626px;
  width:29px;
  height:20px;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1018 {
  position:absolute;
  left:328px;
  top:626px;
  width:29px;
  height:20px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1020 {
  position:absolute;
  left:253px;
  top:626px;
  width:29px;
  height:20px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1022 {
  position:absolute;
  left:169px;
  top:626px;
  width:43px;
  height:20px;
  color:#FF0000;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1024 {
  position:absolute;
  left:176px;
  top:550px;
  width:29px;
  height:20px;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1026 {
  position:absolute;
  left:176px;
  top:474px;
  width:29px;
  height:20px;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1028 {
  position:absolute;
  left:176px;
  top:398px;
  width:29px;
  height:20px;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1030 {
  position:absolute;
  left:253px;
  top:398px;
  width:29px;
  height:20px;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1032 {
  position:absolute;
  left:328px;
  top:398px;
  width:29px;
  height:20px;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
  text-align:center;
}
#u1034 {
  position:absolute;
  left:394px;
  top:388px;
  width:43px;
  height:40px;
  color:#008000;
  text-align:center;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1036 {
  position:absolute;
  left:154px;
  top:233px;
  width:109px;
  height:20px;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1038 {
  position:absolute;
  left:233px;
  top:720px;
  width:140px;
  height:40px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1040 {
  position:absolute;
  left:249px;
  top:285px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1042 {
  position:absolute;
  left:344px;
  top:233px;
  width:123px;
  height:20px;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
}
#u1044 {
  position:absolute;
  left:120px;
  top:166px;
  width:375px;
  height:58px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1046 {
  position:absolute;
  left:259px;
  top:186px;
  width:98px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u1048 {
  position:absolute;
  left:228px;
  top:445px;
  width:150px;
  height:150px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
